body { 
	padding-top: 70px; 
	font-family: 'Patrick Hand', cursive;
}

body .navbar, 
.navbar .navbar-brand, 
.navbar .navbar-nav>li>a{
	background-color: #441151;
	border-radius: 0;
	border-color: #441151;
	color: #9297C4;
	font-size: 2rem;

} 
.navbar-header .navbar-brand{
	font-size: 3rem;
}
.navbar-header .navbar-toggle{
	margin-right: 30px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #9297C4 ;
	position: absolute;
	display: block;
	content: ''; 
}
#nav-toggle span:before {
	top: -10px; 
}
#nav-toggle span:after {
	bottom: -10px;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}
@media(min-width:768px) {
	.navbar-defaults {
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 15px 0;

	}

	.navbar-defaults.affix {
		padding: 0;
	}
}

/*header*/

header{
	background: url(../assets/img/img-noise-1000x400.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right;
	background-color: #9297C4;
	margin-top: -2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
header h1{
	font-size: 10rem;
}
header h2{
	font-size: 5rem;
}
.font{
	font-family: 'Neucha', cursive;
}

/*about me*/

.about{
	height: 100vh;
	padding-top: 5%;
	background-image: url(../assets/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right;
}
#about-me h2, #proyects h2{
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 5%;
	margin-top: 5%
}
#about-me h3{
	font-size: 2rem;
}
.about{
}

.me-picture{
	padding: 0;
	height: 40vh;
	border-radius: 17px;
}

/*proyects*/

@media(max-width:768px){
	.mobile{
		display: none;
	}
}

#proyects h2{
	color: #441151;
}
#proyects {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #d0cab1;
}

/* img:hover{
opacity: 0.8;
border-radius: 100%;
transition: all 2s ease;
} */

.btn{
	background-color: #9297C4;
	color: #fff;
}
.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(31,28,28, 0.8);
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}

.col-md-4:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: white;
	font-size: 1.5rem;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Skills*/

.img-skills{
	width: 5rem;
	display: inline;
}

/*Footer*/

footer{
	background-color: #441151;
}
h4 i, h4 a, h4, footer h2, footer a:link, p a{
	color: #9297C4;
}
.bottom-footer{
	background-color: #4F759B;
	color: #92C9B1;
}
.design{
	background-color: #011936;
	padding-top: 1%;
}