body { 
	padding-top: 70px; 
	font-family: 'Montserrat Alternates', sans-serif;
}
.font{
	font-family: 'Syncopate', sans-serif;
	text-align: center;
}
body .navbar, 
.navbar .navbar-brand, 
.navbar .navbar-nav>li>a{
	background-color: #441151;
	border-radius: 0;
	border-color: #441151;
	color: #339999;
	font-size: 2rem;
} 
.navbar-header .navbar-brand{
	display: flex;
	align-items: center;
	width: 8rem;
}
.navbar-header .navbar-toggle{
	margin-right: 30px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #339999 ;
	position: absolute;
	display: block;
	content: ''; 
}
#nav-toggle span:before {
	top: -10px; 
}
#nav-toggle span:after {
	bottom: -10px;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}
@media(min-width:768px) {
	.navbar-defaults {
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 15px 0;

	}

	.navbar-defaults.affix {
		padding: 0;
	}

	.navbar-header .navbar-brand{
		display: flex;
		align-items: center;
		width: 12rem;
	}
}
/*______header____*/
header{
	background-color: #eeb3d4;
	margin-top: -2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.header-text{
	font-family: 'Syncopate', sans-serif;
	color: #441151;
	position: absolute;
	font-size: 2.5rem;
	padding-left: 40%;
}
.container:hover .header-text{
	color: #339999;
}
h1.flag {
	white-space: nowrap;
	font-size: 2.1vw;
	position: relative;
	cursor: default;
	font-family: 'Syncopate', sans-serif;

	/* Paper Shadow */

	/* Each letter */

	/* Hover interaction */
}
h1.flag::before {
	content: '';
	position: absolute;
	bottom: 0;
	background-color: rgb(60, 119, 112);
	width: 89%;
	left: 4%;
	height: 40%;
	-webkit-filter: blur(2vw);
	filter: blur(2vw);
	-webkit-transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: all 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
h1.flag span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	width: 3em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	text-align: center;
	position: relative;
	z-index: 1;
	-webkit-transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);/* Solid Surface *//* Odd letters *//* Even letters *//* Paper border-radius */
}
h1.flag span::before {
	content: '';
	background-color: #F9F8EF;
	-webkit-transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
h1.flag span:nth-child(odd) {
	-webkit-transform: skewY(-8deg);
	transform: skewY(-8deg);
	color:#333366;
	background: -webkit-linear-gradient(120deg, rgb(255, 255, 255), rgb(237, 236, 227));
	background: linear-gradient(-30deg, rgb(255, 255, 255), rgb(237, 236, 227));
	box-shadow: inset -1px 0 0px rgba(255, 255, 255, .4);
	perspective: 1000px;
}
h1.flag span:nth-child(even) {
	-webkit-transform: skewY(8deg);
	transform: skewY(8deg);
	color: #333366;
	background: -webkit-linear-gradient(3deg, rgb(199, 198, 191), rgb(237, 236, 227));
	background: linear-gradient(87deg, rgb(199, 198, 191), rgb(237, 236, 227));
	box-shadow: inset -1px 0 0px rgba(0, 0, 0, .05);
	perspective: 1000px;
}
h1.flag span:first-of-type,
h1.flag span:first-of-type:before {
	border-radius: 4px 0 0 4px;
}
h1.flag span:last-of-type,
h1.flag span:last-of-type:before {
	border-radius: 0 4px 4px 0;
}
h1.flag:hover {}
h1.flag:hover:before {
	opacity: 0.5;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /></filter></svg>#filter');
	-webkit-filter: blur(2px);
	filter: blur(2px);
	left: 1%;
	width: 98%;
}
h1.flag:hover span {
	-webkit-transform: none;
	transform: none;
	color: #339999;

	box-shadow: none;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	width: 3.1em;
}
h1.flag:hover span::before {
	opacity: 1;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.about{
	height: 100vh;
	padding-top: 5%;
	/*background-image: url(../assets/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right;*/
	background-color: #441151;
	color: #339999;
}
#about-me h2, #proyects h2{
	font-family: 'Syncopate', sans-serif;
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 5%;
	margin-top: 5%
}
#about-me h3{
	font-size: 2rem;
}
.about{
}

.me-picture{
	padding: 0;
	height: 40vh;
	border-radius: 17px;
}

/*proyects*/

@media(max-width:768px){
	.mobile{
		display: none;
	}
}

#proyects h2{
	font-family: 'Syncopate', sans-serif;
	color: #441151;
}
#proyects {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #2F6D81;
}

/* img:hover{
opacity: 0.8;
border-radius: 100%;
transition: all 2s ease;
} */

.btn{
	background-color: #9297C4;
	color: #fff;
}
.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(31,28,28, 0.8);
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}

.col-md-4:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: white;
	font-size: 1.5rem;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Skills*/
#skills{
	color: #339999;
	background-color: #eeb3d4;
	height: 100vh;
	padding-top: 5%;
}
.img-skills{
	width: 5rem;
	display: inline;
}
/*_____footer_____*/
.footer{
	background-color: #2F6D81;
	padding-top: 3rem;
	color: #441151;
}
.footer img{
	width: 15rem;
}
.footer ul li {
	display: inline-block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.footer ul li a{
	text-align: center;
	border-radius: 5px;
	color: #073D4E;
	font-size: 20px;
	border: 1px solid #073D4E;
	height: 32px;
	line-height: 32px;
	width: 32px;
	display: inline-block;
}
li:hover a{
	background-color: #D5B3E2;
}
.copyright{
	background-color: #441151;
	padding-bottom: .5%;
	padding-top: .5%;
	color: #D5B3E2;
}
.copyright a{
	color: #2F6D81;
}